/* 

基本のサイズ

コンポーネント内
padding: 4p 8px;   --- XS
padding: 8px 16px; --- SM
padding: 16px 20px --- MD

コンポーネント外
padding: 20px 20px




*/

/******************
  Global Styling
*********************8*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #222;
}

ul,
li {
  list-style-type: none;
}

/* Container */
.container {
  padding: 20px;
}

/******************
  Min Page (Post Feed)
*********************8*/

/* Navbar */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 20px 0;
  width: 100%;

  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.nav .logo {
  display: inline-block;
  font-size: 24px;

  font-weight: bold;
  color: #ff183e;
}

.nav .nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list .nav-list-item a {
  display: inline-block;
  font-size: 14px;
  padding: 16px 10px;
}

/* Section  */
.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}

/* Post Feed */
/* .post-feed {
} */

.post-feed .post-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.post-feed .post-detail-title {
  font-size: 18px;
  font-weight: bold;
}

.post-feed .post-detail-date {
  font-size: 12px;
  color: #808080;
}

.post-feed .post-detail-author {
  font-weight: bold;
}

.post-feed .post-detail-options {
  margin-top: 16px;
}

.post-detail .post-image-figure {
  text-align: center;
}

.post-image-figure .post-image {
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Button */
.button {
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 24px;

  background-color: #fff;
  border: 2px solid #ff5d5d;
  color: #ff5d5d;
}

.button:hover {
  background-color: #ff5d5d;
  border: 2px solid #ff5d5d;
  color: #fff;
}

/* Like Button */
.button.button-icon {
  padding: 0;
  margin-right: 8px;
  border-radius: 0;
  height: auto;
  border: none;
  background-color: #fff;
  color: #333;
}

/******************
  Profile Page
*********************8*/

.post-detail .post-image-figure {
  text-align: center;
}

.post-image-figure .post-image.post-image-large {
  margin-bottom: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/************
 Register & Login Page
*************/

.form-section .form-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.form-section .form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}

.form-section .form-detail-options {
  margin-top: 16px;
}

.form-section input[type='text'],
.form-section input[type='email'],
.form-section input[type='password'] {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ddd;
}

.form-section .button-block {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.form-section .form-detail-options .has-account {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}

/****************
  Developers Page
*************** */
.devs-section .devs-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.devs-section .devs-detail-title {
  font-size: 18px;
  font-weight: bold;
}

.devs-section .devs-detail-date {
  font-size: 12px;
  color: #808080;
}

.devs-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.devs-image-figure {
  width: 30%;
}

.devs-image-figure .devs-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.devs-name {
  width: 70%;
  margin-left: 16px;
}
