/* 

基本のサイズ

コンポーネント内
padding: 4p 8px;   --- XS
padding: 8px 16px; --- SM
padding: 16px 20px --- MD

コンポーネント外
padding: 20px 20px

*/

/******************
  Global Styling
*********************8*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #222;
}

ul,
li {
  list-style-type: none;
}

/* Container */
.container {
  padding: 20px;
  margin-top: 104px;
}

@media screen and (min-width: 896px) {
  .container {
    width: 60%;
    margin: 104px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 50%;
    margin: 120px auto 0;
  }
}

/******************
  Min Page (Post Feed)
*********************8*/

/* Navbar */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 1;
  padding: 16px 20px 0;
  width: 100%;

  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.nav .logo {
  display: inline-block;
  font-size: 24px;

  font-weight: bold;
  color: #ff183e;
}

.nav .nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list .nav-list-item a {
  display: inline-block;
  font-size: 14px;
  padding: 16px 10px;
}

/* Section  */
.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (min-width: 896px) {
  .nav {
    flex-direction: row;
    padding: 16px 100px 0;
  }

  .nav .nav-list {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-direction: row;
    padding: 16px 120px;
  }

  .nav .nav-list {
    justify-content: flex-end;
  }
}

/* Post Feed */
/* .post-feed {
} */

.post-feed .post-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.post-feed .post-detail-title {
  font-size: 18px;
  font-weight: bold;
}

.post-feed .post-detail-date {
  font-size: 12px;
  color: #808080;
}

.post-feed .post-detail-author {
  font-weight: bold;
}

.post-feed .post-detail-options {
  margin-top: 16px;
}

.post-detail .post-image-figure {
  text-align: center;
}

.post-image-figure .post-image {
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Button */
.button {
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 24px;

  background-color: #fff;
  border: 2px solid #ff5d5d;
  color: #ff5d5d;
}

.button:hover {
  background-color: #ff5d5d;
  border: 2px solid #ff5d5d;
  color: #fff;
}

/* Like Button */
.button.button-icon {
  padding: 0;
  margin-right: 8px;
  border-radius: 0;
  height: auto;
  border: none;
  background-color: #fff;
  color: #333;
}

/******************
  Profile Page
*********************8*/

.profile-section .profile-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.profile-image-figure .profile-image.profile-image-large {
  margin-bottom: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-detail .profile-image-figure {
  text-align: center;
}

.profile-section .profile-detail-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.profile-section .profile-detail-options {
  margin-top: 16px;
}

.profile-section .profile-detail-options .skills,
.how-to,
.about-me {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: normal;
}

.profile-section .profile-detail-options .list {
  margin-bottom: 36px;
}

.profile-section .profile-detail-options .list-item {
  font-size: 14px;
  margin-bottom: 8px;

  font-weight: normal;
}

.profile-section .profile-detail-options .about-me-description {
  font-size: 14px;
  margin-bottom: 36px;
  line-height: 2;
  font-weight: normal;
}

.profile-section .button-block {
  text-align: center;
  display: block;
  width: 40%;
  margin: 0 auto;
}

.github-list .github-item {
  padding: 8px 16px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.github-list .github-item .github-item-title {
  font-size: 18px;
}

.github-list .github-item .github-item-description {
  font-size: 14px;
  opacity: 0.7;
}

/************
 Register & Login Page
*************/

.form-section .form-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.form-section .form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}

.form-section .form-detail-options {
  margin-top: 16px;
}

.form-section input[type='text'],
.form-section input[type='email'],
.form-section input[type='password'] {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ddd;
}

.form-section .button-block {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.form-section .form-detail-options .has-account {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}

/****************
  Developers Page
*************** */
.devs-section .devs-detail {
  padding: 16px 20px;
  background-color: #fff;

  margin-bottom: 20px;
}

.devs-section .devs-detail-title {
  font-size: 18px;
  font-weight: bold;
}

.devs-section .devs-detail-date {
  font-size: 12px;
  color: #808080;
}

.devs-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.devs-image-figure {
  width: 30%;
}

.devs-image-figure .devs-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.devs-name {
  width: 70%;
  margin-left: 16px;
}

/************
Edit Profile Page
*************/

.form-section textarea {
  display: block;
  width: 100%;
  height: 240px;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ddd;
}

.form-section label {
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  color: #333;
}

/************
Posts Comment Page
*************/

.post-feed textarea {
  display: block;
  width: 100%;
  height: 240px;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ddd;
}

.post-feed .button-block {
  display: block;
  width: 40%;
  margin: -8px auto 24px;
}

.post-feed .post-detail-comments {
  margin-bottom: 16px;
  line-height: 1.8;
  color: #333;
}
